.formDiv2 {
  border: 1px;
  width: 480px;
  margin-right: 100px;
  margin-left: 50px;
  height: 400px;
}

.formDiv {
  border: 1px;
  width: 500px;
  margin: auto;
}

.postCard {
  border-radius: 3px;
  border: 1px;
  width: 680px;
  margin: auto;
}

.span {
  color: #252424;
  font-weight: 300;
}
